<a href="https://colab.research.google.com/github/DIFFIDENT24/Hypothesis-testing-Assignment/blob/main/Hypothesis_Q4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Libraries
import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns
from scipy.stats import chi2_contingency

Import Dataset

In [ ]:
data=pd.read_csv('/content/Costomer+OrderForm.csv')

In [ ]:
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [ ]:
data['Phillippines'].value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [ ]:
data['Indonesia'].value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [ ]:
data['Malta'].value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [ ]:
data['India'].value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

Visualisation

In [ ]:
data=pd.get_dummies(data)

In [ ]:
df=np.array([[271,267,269,280],[29,33,31,20]])
df

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [ ]:
chi2_contingency(df)

Chi2ContingencyResult(statistic=3.858960685820355, pvalue=0.2771020991233135, dof=3, expected_freq=array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]]))

In [ ]:
pvalue=chi2_contingency(df)[1]
pvalue

0.2771020991233135

In [ ]:
if pvalue<0.05:
  print("Accept Alternate hypothesis")
else:
  print("Accept Null hypothesis")

Accept Null hypothesis