In [3]:
#Libraries
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [4]:
data=pd.read_csv('/content/LabTAT.csv')

In [22]:
data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [24]:
data['Laboratory 1'].mean()

178.36158333333336

In [25]:
data['Laboratory 2'].mean()

178.9029166666667

In [26]:
data['Laboratory 3'].mean()

199.91324999999998

In [27]:
data['Laboratory 4'].mean()

163.68275

In [30]:
# Anova ftest statistics
pvalue=stats.f_oneway(data.iloc[:,0],data.iloc[:,1],data.iloc[:,2],data.iloc[:,3])
pvalue[1]

2.1156708949992414e-57


Ans: Analysis of varaince between more than 2 samples,Take Null Hypothesis Ho) as No Varaince: All samples TAT population means are same

Thus Alternate Hypothesis Ha as It has Variance: Atleast one sample TAT population mean is different

here pvalue is less than 0.05 so we reject null hypothesis and accept alternate hypothesis

In [31]:
if pvalue[1]>0.05:
  print("Accept null Hypothesis")
else:
  print("Accept Alternate hypothesis")

Accept Alternate hypothesis